{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "import/prefer-default-export": "off"
    },
    "env": {
        "jest": true
    }
}
